:root {
  --main-white: #f5f5f5;
  --main-black: #2e2d2c;
  --dark-blue: #5a7b99;
  --light-blue: #9ab2c6;
  --light-grey: #eaeaea;
  --font-family: 'Montserrat', sans-serif;
  --main-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  --main-radius: 8px;
  --main-margin: 92px;
}

* {
  /* To combat combined border and padding resizing, this defaults width of an element */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-white);
  font-family: var(--font-family);
}

.page-header {
  display: flex;
  width: 100%;
  height: 88px;
  align-items: center;
  background-color: var(--main-black);
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  margin-right: var(--main-margin);
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 48px;
}

.navigation-list li {
  display: inline-block;
  color: var(--main-white);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list__item--active {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: var(--main-radius);
  background: var(--main-white);
  color: var(--main-black);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: var(--light-blue);
}

a:active {
  /* selected link */
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: var(--main-margin);
  margin-top: 56px;
}

.logo-header {
  width: 136px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
}

/* START OF HOME PAGE */

.intro {
  display: flex;
  justify-content: space-between;
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 112px;
}

.intro_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 40%;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--dark-blue);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.intro__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.github {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-black);
  display: flex;
  align-items: center;
  gap: 10px;
}

.cv {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  gap: 10px;
}

.portrait {
  border-radius: var(--main-radius);
  object-fit: cover;
  height: 427px;
}

.skill_container {
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.skill {
  padding: 16px 32px;
  border-radius: var(--main-radius);
  background: var(--dark-blue);
  color: var(--main-white);
}

.index_img {
  margin-top: 120px;
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-bottom: 200px;
}

.index_img-img {
  width: 100%;
  height: 408px;
  object-fit: cover;
  border-radius: var(--main-radius);
}

footer {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  background-color: var(--main-black);
  justify-content: flex-end;
  padding-right: var(--main-margin);
  color: var(--main-white);
}

/* START OF WORK PAGE */

.work-title-text {
  color: var(--main-black);
  font-size: 36px;
  font-weight: 600;
  margin-top: 96px;
  margin-left: var(--main-margin);
}

.card_container {
  margin-top: 80px;
  margin-right: var(--main-margin);
  margin-left: var(--main-margin);
  display: flex;
  flex-wrap: wrap;
  gap: 104px;
  margin-bottom: 200px;
}

.card {
  width: 368px;
  /* height: 168px; */
  display: flex;
  flex-direction: column;
  box-shadow: var(--main-shadow);
  background: var(--light-grey);
  border-radius: var(--main-radius);
}

.card_image {
  width: 368px;
  height: 168px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.card_content {
  padding: 48px 40px;
}

.card_title {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.card_text {
  color: var(--main-black);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

.card_tag_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.card_tag {
  border-radius: var(--main-radius);
  background: var(--dark-blue);
  color: var(--main-white);
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
}

.app_site {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-black);
  display: flex;
  align-items: center;
  gap: 10px;
}

/* START OF CASE STUDY PAGE */

.caseStudy {
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 200px;
}

.tools_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.tool {
  background-color: #5a7b99;
  padding: 8px 16px 8px 16px;
  border-radius: var(--main-radius);
  color: var(--main-white);
}

.caseStudy_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}

.case_img {
  object-fit: cover;
}

/* START OF CONTACT PAGE */

.contact {
  display: flex;
  justify-content: space-between;
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 80px;
  margin-bottom: 200px;
  gap: 180px;
  /* flex-wrap: wrap; */
}

.contact_img-img {
  max-width: 100%;
  height: 504px;
  object-fit: cover;
  border-radius: var(--main-radius);
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-radius: var(--main-radius);
  gap: 16px;
  margin-top: -16px;
}

#fname {
  background-image: url('../img/Account_icon.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

#lname {
  background-image: url('../img/Account_icon.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

#email {
  background-image: url('../img/Message_icon.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

#contact-message {
  background-image: url('../img/Edit_icon.svg');
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 7px;
}

input {
  border: 2px solid var(--dark-blue);
  border-radius: var(--main-radius);
  background-color: white;
  height: 48px;
  padding-left: 45px;
  padding-top: 4px;
}

textarea {
  border: 2px solid var(--dark-blue);
  border-radius: var(--main-radius);
  background-color: white;
  height: 192px;
  padding-left: 45px;
  padding-top: 12px;
}

.send_button {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--main-radius);
  background-color: var(--dark-blue);
  color: var(--main-white);
}

.kontaktform {
  color: var(--dark-blue);
  font-weight: 600;
}

/* START OF PRIVACY PAGE */

.privacy_content {
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 80px;
}

.impressum_content {
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 80px;
}

/*start of responsive layout for specific screen sizes */

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
