:root {
  --main-white: #f5f5f5;
  --main-black: #2e2d2c;
  --dark-blue: #4f7494;
  --light-blue: #9ab2c6;
  --light-grey: #eaeaea;
  --font-family: 'Montserrat', sans-serif;
  --main-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  --main-radius: 8px;
  --main-margin: 92px;
}

* {
  /* To combat combined border and padding resizing, this defaults width of an element */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-white);
  font-family: var(--font-family);
}

.page-header {
  display: flex;
  width: 100%;
  height: 88px;
  align-items: center;
  background-color: var(--main-black);
}

.nav_logo {
  width: 65px;
  margin-left: var(--main-margin);
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  margin-right: var(--main-margin);
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 48px;
}

.navigation-list li {
  display: inline-block;
  color: var(--main-white);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list__item--active {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: var(--main-radius);
  background: var(--main-white);
  color: var(--main-black);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--light-blue);
}

a:active {
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-white);
}

.logo {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: var(--main-margin);
  margin-top: 56px;
}

.logo-header {
  width: 136px;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
}

/* START OF HOME PAGE */

.intro {
  display: flex;
  justify-content: space-between;
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 112px;
  gap: 120px;
}

.intro_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--dark-blue);
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: auto;
  cursor: default;
}

.intro__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link_container {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-black);
  display: flex;
  align-items: center;
  gap: 10px;
}

.cv {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--dark-blue);
  display: flex;
  align-items: center;
  gap: 10px;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portrait {
  display: flex;
  border-radius: var(--main-radius);
  object-fit: cover;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
}

.skill_container {
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 40px;
}

.skill_container:hover {
  cursor: default;
}

.skill {
  padding: 16px 32px;
  border-radius: var(--main-radius);
  background: var(--dark-blue);
  color: var(--main-white);
}

.index_img {
  margin-top: 120px;
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-bottom: 200px;
}

.index_img-img {
  width: 100%;
  height: 408px;
  object-fit: cover;
  border-radius: var(--main-radius);
}

footer {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  background-color: var(--main-black);
  justify-content: flex-end;
  padding-right: var(--main-margin);
  color: var(--main-white);
}

/* START OF WORK PAGE */

.work-title-text {
  color: var(--main-black);
  font-size: 36px;
  font-weight: 600;
  margin-top: 96px;
  margin-left: var(--main-margin);
}

.card_container {
  margin-top: 80px;
  margin-right: var(--main-margin);
  margin-left: var(--main-margin);
  display: flex;
  flex-wrap: wrap;
  gap: 104px;
  margin-bottom: 200px;
}

.card {
  width: 368px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--main-shadow);
  background: var(--light-grey);
  border-radius: var(--main-radius);
}

.card:hover {
  scale: 1.01;
}

.card_image {
  width: 368px;
  height: 168px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.card_content {
  padding: 48px 40px;
}

.card_title {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.card_text {
  color: var(--main-black);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

.card_tag_container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.card_tag {
  border-radius: var(--main-radius);
  background: var(--dark-blue);
  color: var(--main-white);
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
}

/* START OF CONTACT PAGE */

.contact {
  display: flex;
  justify-content: space-between;
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 80px;
  margin-bottom: 200px;
  gap: 180px;
}

.contact_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
}

.contact_links-link {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  font-weight: 500;
  color: var(--dark-blue);
}

.contact_img {
  border-radius: var(--main-radius);
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: var(--main-radius);
  gap: 16px;
  min-width: 40%;
  justify-content: space-between;
}

label {
  display: none;
}

#fname {
  background-image: url('../img/Account_icon.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

#lname {
  background-image: url('../img/Account_icon.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

#email {
  background-image: url('../img/Message_icon.svg');
  background-repeat: no-repeat;
  background-position: 10px;
}

#contact-message {
  background-image: url('../img/Edit_icon.svg');
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 7px;
}

input {
  border: 2px solid var(--dark-blue);
  border-radius: var(--main-radius);
  background-color: white;
  height: 48px;
  padding-left: 45px;
  padding-top: 4px;
}

textarea {
  border: 2px solid var(--dark-blue);
  border-radius: var(--main-radius);
  background-color: white;
  height: 192px;
  padding-left: 45px;
  padding-top: 12px;
}

.send_button {
  width: 100%;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: var(--main-radius);
  background-color: var(--dark-blue);
  color: var(--main-white);
}

.kontaktform {
  color: var(--dark-blue);
  font-weight: 600;
}

/* START OF SINGLE PROJECT SITES */

.project_content {
  display: flex;
  flex-direction: column;
  margin-right: var(--main-margin);
  margin-left: var(--main-margin);
  margin-top: 96px;
  margin-bottom: 200px;
  gap: 48px;
}

.project_title {
  color: var(--main-black);
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

.project_tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
  align-items: center;
}

.project_tools h2 {
  margin-right: 40px;
}

.tool {
  background-color: #5a7b99;
  padding: 8px 16px 8px 16px;
  border-radius: var(--main-radius);
  color: var(--main-white);
}

.project-links {
  display: flex;
  gap: 32px;
  background-color: var(--light-grey);
  padding: 40px 0px 40px 92px;
  margin-left: -92px;
  margin-right: -92px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.project-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-text h3 {
  color: var(--main-black);
  font-size: 24px;
}
.project-text h4 {
  color: var(--dark-blue);
  font-size: 18px;
}

.project-text p {
  margin-bottom: 20px;
}

.project-text ul {
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  color: var(--main-black);
  margin-left: 20px;
  padding-left: 5px;
}

#gallery {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
  column-count: 3;
  column-gap: 20px;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 20px;
  filter: grayscale(100%);
  transition: filter 1s;
}

#gallery img:hover {
  filter: none;
}

/* START OF PRIVACY PAGE */

.privacy_content {
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 80px;
}

.impressum_content {
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  margin-top: 80px;
  margin-bottom: 200px;
}

/*start of responsive layout for specific screen sizes */

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .main-navigation {
    display: flex;
    justify-content: right;
    margin-right: 60px;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navigation-list {
    position: fixed;
    left: -100%;
    top: 88px;
    gap: 12;
    flex-direction: column;
    background-color: var(--dark-blue);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 40px;
  }
  .navigation-list__item--active {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: var(--main-radius);
    background: var(--main-black);
    color: var(--main-white);
  }
  .navigation-list__item {
    margin: 16px 0;
  }
  .navigation-list.active {
    left: 0;
  }
  .logo {
    margin-left: 60px;
  }
  .navigation-list {
    margin-right: 60px;
  }
  .skill_container {
    margin-left: 60px;
    margin-right: 60px;
  }
  .index_img {
    margin-left: 60px;
    margin-right: 60px;
  }
  footer {
    padding-right: 60px;
  }
  .work-title-text {
    margin-left: 60px;
  }
  .card_container {
    margin-right: 60px;
    margin-left: 60px;
  }
  .caseStudy {
    margin-left: 60px;
    margin-right: 60px;
  }
  .contact {
    margin-left: 60px;
    margin-right: 60px;
  }
  .privacy_content {
    margin-left: 60px;
    margin-right: 60px;
  }
  .impressum_content {
    margin-left: 60px;
    margin-right: 60px;
  }
  .contact {
    flex-wrap: wrap;
    gap: 60px;
  }

  form {
    width: 100%;
  }
  .intro {
    margin-left: 60px;
    margin-right: 60px;
    flex-wrap: wrap;
    gap: 20px;
  }
  .intro_content {
    width: 100%;
    margin-bottom: 50px;
  }
  .portrait {
    width: 100%;
  }
  #gallery {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .project-links {
    padding: 40px 0px 40px 60px;
    margin-left: -60px;
    margin-right: -60px;
  }
  .project_content {
    margin-right: 60px;
    margin-left: 60px;
  }
  .logo {
    flex-wrap: wrap;
    row-gap: 5px;
  }
  .logo h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .card {
    width: 100%;
  }
  .card_image {
    width: 100%;
  }
  .card_container {
    justify-content: center;
  }
  .nav_logo {
    margin-left: 60px;
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1500px) {
  .logo {
    margin-left: 120px;
  }
  .navigation-list {
    margin-right: 120px;
  }
  .skill_container {
    margin-left: 120px;
    margin-right: 120px;
  }
  .index_img {
    margin-left: 120px;
    margin-right: 120px;
  }
  footer {
    padding-right: 120px;
  }
  .work-title-text {
    margin-left: 120px;
  }
  .card_container {
    margin-right: 120px;
    margin-left: 120px;
  }
  .caseStudy {
    margin-left: 120px;
    margin-right: 120px;
  }
  .contact {
    margin-left: 120px;
    margin-right: 120px;
  }
  .privacy_content {
    margin-left: 120px;
    margin-right: 120px;
  }
  .impressum_content {
    margin-left: 120px;
    margin-right: 120px;
  }
  .project-links {
    padding: 40px 0px 40px 120px;
    margin-left: -120px;
    margin-right: -120px;
  }
  .project_content {
    margin-right: 120px;
    margin-left: 120px;
  }
  textarea {
    height: 260px;
  }
  .intro {
    margin-left: 120px;
    margin-right: 120px;
    min-height: 580px;
    column-gap: 260px;
    max-height: 600px;
  }
  .intro_content {
    justify-content: center;
    gap: 70px;
  }
  .nav_logo {
    margin-left: 120px;
  }
}
